#nav{:class => "sixteen columns"}
  %ol  
    %li Sortuj według:
    %a(href="/")  
      %li Odległość  
    %a(href="contact")  
      %li Liczba osób  
    %a(href="about")  
      %li Puby alfabetycznie 
  #clear{:class => "clearfix"}

#map{:class => "sixteen columns"}
  #map_canvas{:style => "width:500px; height:200px;"}
  %ol
  %button{:onclick => "show()"} Pokaż
  %button{:onclick => "usun()"} Usuń
  #clear{:class => "clearfix"}

#pubs
  #pub1{:class => "eight columns"} 
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  
    %img(src="/images/1.jpg")
  #pub2{:class => "eight columns"} 
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  
    %img(src="/images/1.jpg")
  #clear{:class => "clearfix"}
