!!! 5
%html
  %head
    %title= "Pubtraffic"
    %link{ :href => "style.css", :media => "screen", :rel => "stylesheet" }
    %script{:type => "text/javascript", :src  => "app.js"}
  %body
    %h2= "Pubtraffic"
