#nav.row.fourteen.columns
  %img(src="/images/small-logo.png")
  %ol  
    %a(href="contact")  
      %li Liczba osób  
    %a(href="contact")  
      %li Liczba osób  
    %a(href="about")  
      %li Puby alfabetycznie 
    %li Sortuj według:
  #clear{:class => "clearfix"}
#sidebar
  #title Ostatnie wydarzenia
  #last
#map.row.fourteen.columns
  #map_canvas{:style => "width:500px; height:200px;"}
  %ol
  %button{:onclick => "show()"} Pokaż
  %button{:onclick => "usun()"} Usuń
  #clear{:class => "clearfix"}

#pubs.row
  #pub1.pubs.seven.columns.row
    %img(src="/images/1.jpg")
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  
  #pub2.pubs.seven.columns
    %img(src="/images/1.jpg")
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  
  #sidebar
  #clear.clearfix
  #pub1.pubs.seven.columns.row
    %img(src="/images/1.jpg")
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  
  #pub2.pubs.seven.columns
    %img(src="/images/1.jpg")
    %h1 Pub1
    %h2 Opis pub1
    %a(href="/")  

  #clear.clearfix

