$black: #000000
$grey: #001A00
$dark_green: #004700
$green: #d3d3d3
$light_green: #00C400
$background_grey: #9ea0a3

body
  background-color: #FFFFFF

#navigation
  position: fixed
  top: 0
  width: 100%
  color: #ffffff
  height: 35px
  text-align: center
  padding-top: 15px

  -webkit-box-shadow: 0px 0px 8px 0px #000000
  -moz-box-shadow: 0px 0px 8px 0px #000000
  box-shadow: 0px 0px 8px 0px #000000

  background-color: rgba(1, 1, 1, 0.75)
  color: rgba(1, 1, 1, 0.75)

  a
    font-size: 14px
    padding-left: 15px
    padding-right: 15px
    color: white
    text-decoration: none
    &:hover
      color: grey

#sidebar
  position: fixed
  top: 50px
  right: 0px
  color: #ffffff
  height: 1000px
  width: 200px
  text-align: center
  padding-top: 15px

  background-color: rgba(1, 1, 1, 0.10)
  color: rgba(1, 1, 1, 1)

  overflow: scroll

  a
    font-size: 14px

    color: black
    text-decoration: none
    &:hover
      color: grey

#logo
  border-bottom-width: 1px
  border-bottom-style: solid
  padding-top: 70px
  border-color: $green

#nav
  color: $light_green
  font-size: 20px
  border-bottom-width: 1px
  border-bottom-style: solid
  border-color: $green

#nav ol 
  list-style-type: none

#nav ol li
  padding-right: 40px
  float: left

#map
  color: $light_green
  font-size: 20px
  border-bottom-width: 1px
  border-bottom-style: solid
  border-color: $green
  width: 100%

#map_canvas 
  float: left

#map button
  float: right
  clear: right

#map ol li 
  float: right

#pubs
  color: $light_green
  font-size: 20px
  border-bottom-width: 1px
  border-bottom-style: solid
  border-color: $green


.pubs
  background-color: rgba(1, 1, 1, 0.05)
  width: 45%
  margin: 10px
  border-width: 1px
  border-style: solid
  border-color: $green
  position: relative
  float: left
  img
    float: right
    clear: right
  h1
    float: left
    clear: left
  h2
    float: left
    clear: left
    font-size: 15px 


#footer
  padding:
    top: 10px
    left: 20px
    right: 20px
  width: 960px
  position: fixed
  bottom: 0
  background-color: $background_grey